USE [master]
GO
/****** Object:  Database [FamilyTask]    Script Date: 11/7/2025 2:58:25 PM ******/
CREATE DATABASE [FamilyTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FamilyTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FamilyTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FamilyTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FamilyTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FamilyTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FamilyTask]
GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[family_id] [bigint] NOT NULL,
	[entity_type] [nvarchar](50) NULL,
	[entity_id] [bigint] NULL,
	[action] [nvarchar](100) NULL,
	[actor_id] [bigint] NOT NULL,
	[data_json] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[families]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[families](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[labels]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[labels](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[family_id] [bigint] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[color] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_assignments]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_assignments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id] [bigint] NOT NULL,
	[assignee_id] [bigint] NOT NULL,
	[assigned_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_attachments]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_attachments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id] [bigint] NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[url] [nvarchar](512) NULL,
	[uploaded_by] [bigint] NOT NULL,
	[uploaded_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_comments]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_comments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[content] [nvarchar](2000) NOT NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_labels]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_labels](
	[task_id] [bigint] NOT NULL,
	[label_id] [bigint] NOT NULL,
 CONSTRAINT [PK_task_labels] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC,
	[label_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[family_id] [bigint] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category] [nvarchar](50) NULL,
	[priority] [nvarchar](10) NULL,
	[due_date] [datetime2](0) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_by] [bigint] NOT NULL,
	[verified_by] [bigint] NULL,
	[verified_at] [datetime2](0) NULL,
	[is_archived] [bit] NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_entries]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_entries](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[minutes] [int] NULL,
	[note] [nvarchar](1000) NULL,
	[logged_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/7/2025 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[family_id] [bigint] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[families] ON 

INSERT [dbo].[families] ([id], [name], [created_at]) VALUES (1, N'Gia đình Bùi', CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[families] OFF
GO
SET IDENTITY_INSERT [dbo].[labels] ON 

INSERT [dbo].[labels] ([id], [family_id], [name], [color]) VALUES (1, 1, N'Dọn phòng', N'#22c55e')
INSERT [dbo].[labels] ([id], [family_id], [name], [color]) VALUES (2, 1, N'Nấu ăn', N'#3b82f6')
SET IDENTITY_INSERT [dbo].[labels] OFF
GO
SET IDENTITY_INSERT [dbo].[task_assignments] ON 

INSERT [dbo].[task_assignments] ([id], [task_id], [assignee_id], [assigned_at]) VALUES (1, 1, 3, CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2))
INSERT [dbo].[task_assignments] ([id], [task_id], [assignee_id], [assigned_at]) VALUES (2, 1, 4, CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[task_assignments] OFF
GO
INSERT [dbo].[task_labels] ([task_id], [label_id]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[tasks] ON 

INSERT [dbo].[tasks] ([id], [family_id], [title], [description], [category], [priority], [due_date], [status], [created_by], [verified_by], [verified_at], [is_archived], [created_at], [updated_at]) VALUES (1, 1, N'Dọn phòng khách', NULL, NULL, N'High', CAST(N'2025-11-08T07:55:42.0000000' AS DateTime2), N'Pending', 1, NULL, NULL, 0, CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2), CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [family_id], [full_name], [email], [password_hash], [role], [is_active], [created_at]) VALUES (1, 1, N'Bố', N'bo@example.com', N'hash1', N'Parent', 1, CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [family_id], [full_name], [email], [password_hash], [role], [is_active], [created_at]) VALUES (2, 1, N'Mẹ', N'me@example.com', N'hash2', N'Parent', 1, CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [family_id], [full_name], [email], [password_hash], [role], [is_active], [created_at]) VALUES (3, 1, N'Con A', N'cona@example.com', N'hash3', N'Member', 1, CAST(N'2025-11-07T07:55:42.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_activity_logs_family_created]    Script Date: 11/7/2025 2:58:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_activity_logs_family_created] ON [dbo].[activity_logs]
(
	[family_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_labels_family_name]    Script Date: 11/7/2025 2:58:26 PM ******/
ALTER TABLE [dbo].[labels] ADD  CONSTRAINT [UQ_labels_family_name] UNIQUE NONCLUSTERED 
(
	[family_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_task_assignments]    Script Date: 11/7/2025 2:58:26 PM ******/
ALTER TABLE [dbo].[task_assignments] ADD  CONSTRAINT [UQ_task_assignments] UNIQUE NONCLUSTERED 
(
	[task_id] ASC,
	[assignee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_task_assignments_assignee_task]    Script Date: 11/7/2025 2:58:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_task_assignments_assignee_task] ON [dbo].[task_assignments]
(
	[assignee_id] ASC,
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_task_attachments_task_uploaded]    Script Date: 11/7/2025 2:58:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_task_attachments_task_uploaded] ON [dbo].[task_attachments]
(
	[task_id] ASC,
	[uploaded_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_task_comments_task_created]    Script Date: 11/7/2025 2:58:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_task_comments_task_created] ON [dbo].[task_comments]
(
	[task_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tasks_family_status_due]    Script Date: 11/7/2025 2:58:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_tasks_family_status_due] ON [dbo].[tasks]
(
	[family_id] ASC,
	[status] ASC,
	[due_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_time_entries_task_user]    Script Date: 11/7/2025 2:58:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_time_entries_task_user] ON [dbo].[time_entries]
(
	[task_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_logs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[families] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[task_assignments] ADD  DEFAULT (sysutcdatetime()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[task_attachments] ADD  DEFAULT (sysutcdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[task_comments] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT (N'Medium') FOR [priority]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT (N'Pending') FOR [status]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT ((0)) FOR [is_archived]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[tasks] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[time_entries] ADD  DEFAULT (sysutcdatetime()) FOR [logged_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FK_activity_logs_actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FK_activity_logs_actor]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FK_activity_logs_family] FOREIGN KEY([family_id])
REFERENCES [dbo].[families] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FK_activity_logs_family]
GO
ALTER TABLE [dbo].[labels]  WITH CHECK ADD  CONSTRAINT [FK_labels_family] FOREIGN KEY([family_id])
REFERENCES [dbo].[families] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[labels] CHECK CONSTRAINT [FK_labels_family]
GO
ALTER TABLE [dbo].[task_assignments]  WITH CHECK ADD  CONSTRAINT [FK_task_assignments_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[task_assignments] CHECK CONSTRAINT [FK_task_assignments_task]
GO
ALTER TABLE [dbo].[task_assignments]  WITH CHECK ADD  CONSTRAINT [FK_task_assignments_user] FOREIGN KEY([assignee_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[task_assignments] CHECK CONSTRAINT [FK_task_assignments_user]
GO
ALTER TABLE [dbo].[task_attachments]  WITH CHECK ADD  CONSTRAINT [FK_task_attachments_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[task_attachments] CHECK CONSTRAINT [FK_task_attachments_task]
GO
ALTER TABLE [dbo].[task_attachments]  WITH CHECK ADD  CONSTRAINT [FK_task_attachments_user] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[task_attachments] CHECK CONSTRAINT [FK_task_attachments_user]
GO
ALTER TABLE [dbo].[task_comments]  WITH CHECK ADD  CONSTRAINT [FK_task_comments_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[task_comments] CHECK CONSTRAINT [FK_task_comments_task]
GO
ALTER TABLE [dbo].[task_comments]  WITH CHECK ADD  CONSTRAINT [FK_task_comments_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[task_comments] CHECK CONSTRAINT [FK_task_comments_user]
GO
ALTER TABLE [dbo].[task_labels]  WITH CHECK ADD  CONSTRAINT [FK_task_labels_label] FOREIGN KEY([label_id])
REFERENCES [dbo].[labels] ([id])
GO
ALTER TABLE [dbo].[task_labels] CHECK CONSTRAINT [FK_task_labels_label]
GO
ALTER TABLE [dbo].[task_labels]  WITH CHECK ADD  CONSTRAINT [FK_task_labels_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[task_labels] CHECK CONSTRAINT [FK_task_labels_task]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_created_by]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_families] FOREIGN KEY([family_id])
REFERENCES [dbo].[families] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_families]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_verified_by] FOREIGN KEY([verified_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_verified_by]
GO
ALTER TABLE [dbo].[time_entries]  WITH CHECK ADD  CONSTRAINT [FK_time_entries_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[time_entries] CHECK CONSTRAINT [FK_time_entries_task]
GO
ALTER TABLE [dbo].[time_entries]  WITH CHECK ADD  CONSTRAINT [FK_time_entries_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[time_entries] CHECK CONSTRAINT [FK_time_entries_user]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_families] FOREIGN KEY([family_id])
REFERENCES [dbo].[families] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_families]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD CHECK  (([priority]=N'Critical' OR [priority]=N'High' OR [priority]=N'Medium' OR [priority]=N'Low'))
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD CHECK  (([status]=N'Verified' OR [status]=N'Done' OR [status]=N'InProgress' OR [status]=N'Pending'))
GO
ALTER TABLE [dbo].[time_entries]  WITH CHECK ADD CHECK  (([minutes]>=(0)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]=N'Member' OR [role]=N'Parent'))
GO
USE [master]
GO
